<template>
  <div class="flex flex-col items-center">
    <!-- 性別選択のラジオボタン -->
    <div class="mb-4 w-full">
      <label class="mb-2 font-bold text-lg">性別</label>
      <div class="flex justify-around text-xl">
        <label class="mr-4">
          <input
            type="radio"
            value="male"
            v-model="gender"
            @change="trySubmit"
          />
          男性
        </label>
        <label>
          <input
            type="radio"
            value="female"
            v-model="gender"
            @change="trySubmit"
          />
          女性
        </label>
      </div>
    </div>

    <!-- 4桁入力フィールド -->
    <div class="mb-4 w-full">
      <label class="mb-2 font-bold text-lg">携帯番号の下4桁</label>
      <div class="relative flex justify-center">
        <input
          type="text"
          v-model="inputValue"
          readonly
          class="!p-2 w-5/6 text-center text-xl underline-input"
        />
        <div v-if="inputValue.length < 4" class="cursor-blink"></div>
      </div>
    </div>

    <!-- 数字ボタン -->
    <div class="gap-2 grid grid-cols-3 mb-4">
      <button
        v-for="number in numbers"
        :key="number"
        @click="addNumber(number)"
        class="border-gray-400 bg-gray-200 border rounded text-2xl aspect-square"
      >
        {{ number }}
      </button>
      <button
        @click="deleteNumber"
        class="border-gray-400 col-span-2 bg-red-200 p-4 border rounded text-2xl"
      >
        Delete
      </button>
      <button @click="clearInput">Clear</button>
    </div>
  </div>
</template>

<script setup>
const gender = ref("");
const inputValue = ref("");
const numbers = ref([1, 2, 3, 4, 5, 6, 7, 8, 9, 0]);
const submitCount = ref(0);
const isSubmitDisabled = ref(false);
const hashValue = ref("");
const sessionId = useSessionId();
const masterMode = useMasterMode();
const fingerprint = useFingerprint();
const { playerModal, showPlayerModal, hidePlayerModal } = usePlayerModal();

// 送信日時を保存する関数
const saveSubmitTimestamp = () => {
  const timestamps = JSON.parse(localStorage.getItem("submitTimestamps")) || [];
  const now = new Date().getTime();
  timestamps.push(now);
  localStorage.setItem("submitTimestamps", JSON.stringify(timestamps));
};

// 24時間以内の送信回数をチェックする関数
const checkSubmitLimit = () => {
  const timestamps = JSON.parse(localStorage.getItem("submitTimestamps")) || [];
  const now = new Date().getTime();
  const twentyFourHoursAgo = now - 24 * 60 * 60 * 1000;

  const recentTimestamps = timestamps.filter(
    (timestamp) => timestamp > twentyFourHoursAgo,
  );

  localStorage.setItem("submitTimestamps", JSON.stringify(recentTimestamps));

  submitCount.value = recentTimestamps.length;

  if (submitCount.value >= 5) {
    isSubmitDisabled.value = true;
  } else {
    isSubmitDisabled.value = false;
  }
};

// 数字を追加する関数
const addNumber = (number) => {
  if (inputValue.value.length < 4) {
    inputValue.value += number;
  }
  trySubmit();
};

// 数字を削除する関数
const deleteNumber = () => {
  inputValue.value = inputValue.value.slice(0, -1);
};

// 入力をクリアする関数
const clearInput = () => {
  inputValue.value = "";
};

// フォームを送信する関数
const trySubmit = async () => {
  if (!masterMode) {
    checkSubmitLimit();
    if (isSubmitDisabled.value) {
      alert("24時間以内の送信回数の上限に達しました。");
      return;
    }
  }
  if (
    gender.value &&
    inputValue.value.length === 4 &&
    fingerprint.value &&
    sessionId.value
  ) {
    hashValue.value = generateHash(
      gender.value,
      inputValue.value,
      fingerprint.value,
    );
    setPlayerHash(hashValue.value);
    saveSubmitTimestamp();
    showPlayerModal();

    if (hashValue.value && sessionId.value) {
      await addToEntryPlayers(sessionId.value, hashValue.value);
    }
  }
};

// コンポーネントがマウントされたときに送信回数をチェック
onMounted(async () => {
  checkSubmitLimit();
  const appFingerprint = await initializeFingerprint();
});

// 性別と携帯番号の入力を監視して自動送信
watch([gender, inputValue], trySubmit);
</script>

<style scoped>
.underline-input {
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  background: transparent;
  height: 100%;
}

.cursor-blink {
  position: absolute;
  left: 50%;
  width: 2px;
  top: 5%;
  bottom: 5%;
  background-color: black;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
</style>
