<!-- Match.vue -->
<template>
  <div>
    <table class="table-striped table-hover table">
      <thead>
        <tr>
          <th>Match Hash</th>
          <th>Pair A</th>
          <th>Pair B</th>
          <th>Match Count</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(match, index) in allMatches" :key="getMatchHash(match)">
          <td>
            <span class="inline-block w-10">{{ index + 1 }}</span>
            <span>{{ getMatchHash(match) }}</span>
          </td>
          <td>({{ match.playerIds[0] }}, {{ match.playerIds[1] }})</td>
          <td>({{ match.playerIds[2] }}, {{ match.playerIds[3] }})</td>
          <td>{{ getMatchCount(match, playedMatches) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
const players = usePlayers();
const playedMatches = usePlayedMatches().value;

const allMatches = computed(() => {
  const playerIds = players.value.map(player => player.id);
  return generateMatches(playerIds);
});
</script>
