<!-- Pair.vue -->
<template>
  <div>
    <table class="table-striped table-hover table">
      <thead>
        <tr>
          <th>Pair Hash</th>
          <th>Pair Players</th>
          <th>Pair Count</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(pair, index) in allPairs" :key="index">
          <td>
            <span class="inline-block w-10">{{ index + 1 }}</span>
            <span class="inline-block">
              {{ getPairHash(pair) }}
            </span>
          </td>
          <td>({{ pair.playerIds[0] }}, {{ pair.playerIds[1] }})</td>
          <td>{{ getPairCount(pair, playedMatches) }}</td>
          <td>
            {{ getPairLastUpdatedTime(pair, playedMatches) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
const players = usePlayers();
const playedMatches = usePlayedMatches().value;

const allPairs = computed(() => {
  return generatePairs(players.value.map((player) => player.id));
});
</script>
