<!-- PlayedMatches.vue -->
<template>
  <div>
    <table class="table mb-0 border-dark w-100">
      <thead class="z-10 sticky inset-0 bg-slate-950/95 text-white">
        <tr class="text-center align-middle">
          <td class="col-1">
            <span class="">Idx</span>
          </td>
          <td class="px-0 col-9">
            <div class="d-flex gap-1 text-center">
              <span class="flex-grow-1 fs-1">A</span>
              <span class="flex-grow-1 fs-1">B</span>
              <span class="flex-grow-1 fs-1">C</span>
              <span class="flex-grow-1 fs-1">D</span>
            </div>
          </td>
          <td class="col-2">
            <div class="flex justify-center">
              <button
                v-on-long-press="[handleClearAll, { delay: 200 }]"
                :class="[
                  'user-select-none inline-grid aspect-square w-10 content-center rounded-full sm:w-14',
                  '!border shadow-big-mario',
                  ' border-red-700 bg-red-600 text-white ',
                ]"
              >
                全消
              </button>
            </div>
          </td>
        </tr>
      </thead>

      <tbody class="table-group-divider relative">
        <template v-for="(match, index) in playedMatches">
          <tr
            :key="index"
            :class="[match.finished ? '' : 'bg-yellow-400 px-0']"
            v-if="index !== -1"
          >
            <td
              :class="[
                'col-1 relativt bg-transparent px-0 !pb-3 !pt-5',
                match.finished
                  ? ''
                  : 'animate__animated animate__slow animate__flash animate-[20]',
              ]"
            >
              <div
                v-if="!match.finished"
                class="absolute -translate-x-1 -translate-y-6"
              >
                <div
                  class="right-0 bottom-full bg-green-600/95 px-2 border-green-700 border-r border-b rounded-sm text-white text-xs text-nowrap leading-relaxed"
                >
                  試合後は勝利ペア番号をタップ
                  <svg
                    class="top-full left-0 absolute ml-3 h-2 text-green-600"
                    x="0px"
                    y="0px"
                    viewBox="0 0 255 255"
                    xml:space="preserve"
                  >
                    <polygon
                      class="fill-current"
                      points="0,0 127.5,127.5 255,0"
                    />
                  </svg>
                </div>
              </div>
              <AtomMatchNumber :text="String(index + 1)" :match="match" />
            </td>
            <td
              class="bg-transparent px-0 !pt-5 !pb-3 col-9 relativt"
              :style="getBackgroundStyle(match)"
            >
              <MoleculesMatchPlayers :match="match" />
            </td>
            <td class="bg-transparent px-0 !pt-5 !pb-3 col-2 relativt">
              <div class="flex justify-center">
                <button
                  v-on-long-press="[
                    () => deletePlayedMatch(match),
                    { delay: 200 },
                  ]"
                  class="inline-grid content-center bg-red-600 shadow-big-mario !border border-red-700 rounded-full w-10 sm:w-14 aspect-square text-white"
                >
                  消
                </button>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import { vOnLongPress } from "@vueuse/components";
import { toSvg } from "jdenticon";

const playedMatches = usePlayedMatches();

const countPairOccurrences = (match, matches) => {
  const pairResults = getMatchPairs(match);
  if (!pairResults || pairResults.length === 0) {
    // pairL と pairR が存在しない場合
    return null;
  }

  const [pairL, pairR] = pairResults;
  const pairHashes = [getPairHash(pairL), getPairHash(pairR)];

  let counts = pairHashes.map((hash) => {
    let count = 0;
    for (let i = 0; i < matches.length; i++) {
      if (matches[i] === match) {
        break; // 特定のmatchが見つかったらループを終了
      }

      const [currentPairL, currentPairR] = getMatchPairs(matches[i]);
      if (
        hash === getPairHash(currentPairL) ||
        hash === getPairHash(currentPairR)
      ) {
        count++;
      }
    }
    return count;
  });

  // 各ペアが何回出現しているかを示すカウント配列を返す
  return counts;
};

const getBackgroundStyle = (match) => {
  if (match.fingerprint) {
    const svg = toSvg(match.fingerprint, 40);
    const svgBase64 = btoa(svg);
    return {
      backgroundImage: `url('data:image/svg+xml;base64,${svgBase64}')`,
      backgroundSize: "cover",
      backgroundRepeat: "no-repeat",
      backgroundPosition: "left",
    };
  }
  return {};
};

const deletePlayedMatch = async (match) => {
  deleteMatch(match, playedMatches.value);
  updatePlayedMatches(playedMatches.value);
};

const handleClearAll = async () => {
  try {
    await createHistory();
    await resetAllData({ playedMatches: [] });
    console.log("All matches cleared and history created.");
  } catch (error) {
    console.error("Error clearing matches:", error);
  }
};
</script>
