<!-- Players.vue -->
<template>
  <div class="gap-3 sm:gap-5 grid !p-2 sm:!p-5 w-full text-justify">
    <div
      :class="['rounded border-2 border-slate-900 bg-slate-100 !p-3 sm:!p-5']"
    >
      <p>
        クラス分けが有効ですが、基本的には<b class="font-bold"
          >網羅的な組み合わせを試行</b
        >します。
      </p>
      <p>
        いずれにせよ、各クラスの参加者数やコート数、ゲーム終了順・開始順などによって各プレイヤーの試合数のバランスが一時的に崩れますが、時間経過とともに縮まる設計です。
        <br />
        不都合がある時は報告してください。
      </p>
      <p class="font-extrabold underline-offset-2">
        「プレイヤーIDをタップ」すると、
        <b class="underline">クラスやステータスを途中からでも変更できます。</b>
      </p>
    </div>
    <div class="gap-20 grid py-10 pt-20">
      <div
        v-for="group in groupedPlayerIds"
        :key="group.name"
        :class="['relative rounded !border-2 border-solid border-slate-900']"
      >
        <header
          class="right-8 bottom-full left-2 absolute flex items-end h-auto translate-y-4"
        >
          <div
            :class="[
              'z-10 grid aspect-square w-16 place-items-center !border-4 border-dotted border-yellow-700 bg-yellow-400 text-white',
            ]"
          >
            <span
              class="drop-shadow m-0 font-extrabold text-lg text-nowrap leading-none tracking-wider"
            >
              <!-- groupの値に応じて異なるテキストを表示 -->
              <template v-if="group.name === 'low'"
                >ピヨ<br class="md:none" />ピヨ</template
              >
              <template v-else-if="group.name === 'mid'"
                >ペー<br class="md:none" />ペー</template
              >
              <template v-else-if="group.name === 'high'"
                >バチ<br class="md:none" />ボコ</template
              >
              <!-- ここに追加された条件分岐 -->
            </span>
          </div>
          <div
            :class="[
              'relative ml-auto flex w-full max-w-[75%] justify-self-stretch',
            ]"
          >
            <button
              @click="entryHandler(group.name)"
              :class="[
                'relative flex w-full items-center justify-center overflow-hidden rounded-full !p-2 !py-3 text-lg  font-bold shadow-mario md:text-xl',
                '!border border-green-700 bg-green-600 text-white active:bg-white active:text-green-600',
              ]"
            >
              <i class="bi-person-fill-add text-2xl bi"></i>
              <span class="ml-1">エントリー</span>
            </button>
            <div
              :class="[
                'absolute bottom-0 right-0 aspect-square w-14 translate-x-3/4 sm:w-20 sm:translate-x-2/3 sm:translate-y-1',
                `bg-${group.name.toLowerCase()} bg-contain opacity-95`,
              ]"
            ></div>
          </div>
        </header>
        <main class="bg-slate-200/50 pb-7 text-3xl sm:text-4xl">
          <div class="gap-x-2 gap-y-4 grid grid-cols-5 !px-2 !pt-12 !pb-5">
            <template v-for="id in group.playerIds" :key="id">
              <AtomClickablePlayerPanel
                :playerId="id"
                :class="['aspect-[3/4] w-full select-none font-bold']"
              />
            </template>
          </div>
        </main>
        <footer class="pr-3 leading-tight">
          <ul class="mt-2 list-disc" v-if="group.name === 'low'">
            <li>
              "ピヨピヨ"と"バチボコ"は、ペアにも対戦することもありません。(焦げ付き防止)
            </li>
            <li>"ピヨピヨ"は、他の"ピヨピヨ"とペアになることがありません。</li>
          </ul>
          <ul class="mt-2 list-disc" v-if="group.name === 'high'">
            <li>
              アクティブプレイヤーが3人以下の場合、バチボコがペアになることはありません
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
</template>

<script setup>
const { showPlayerModal } = usePlayerModal();
const masterMode = useMasterMode();
const sessionData = useSessionData();
const groupedPlayerIds = computed(() => {
  const groups = useGroups();
  const localGroups = {};

  // Initialize each group from useGroups with an empty array.
  if (groups.value) {
    Object.keys(groups.value).forEach((key) => {
      localGroups[key] = [];
    });
  }

  const entryPlayersList = sessionData.value?.entryPlayers || [];

  entryPlayersList.forEach((playerHash) => {
    const playerState = sessionData.value?.playersState[playerHash];
    if (playerState && localGroups[playerState.group] !== undefined) {
      const playerId = getPlayerId(playerHash, entryPlayersList);
      if (playerId !== undefined) {
        localGroups[playerState.group].push(playerId);
      }
    }
  });

  return Object.keys(localGroups).map((name) => ({
    name,
    playerIds: localGroups[name],
  }));
});

const entryHandler = (groupKey = "mid") => {
  showPlayerModal(null);
};
</script>
