<!-- PlayersXTable.vue -->
<template>
  <div class="relative font-mono">
    <div class="my-4 flex justify-end">
      <UToggle v-model="debug" /><span>デバッグモード</span>
    </div>
    <template v-if="debug">
      <!-- プレイヤー情報を表示 -->
      <div
        :class="[
          'grid-cols-auto grid w-full gap-10 divide-y-2 border-slate-500',
        ]"
      >
        <div
          v-for="player in players"
          :key="player.id"
          :class="['flex flex-grow']"
        >
          <div class="self-center p-3">{{ player.id }}</div>
          <div
            v-for="playerDistribution in getPlayerRelationshipDistribution(
              player,
            )"
            :key="playerDistribution.player.id"
            class="whitespace-nowrap p-2 tracking-tighter even:bg-slate-100"
          >
            <!-- プレイヤーID -->
            <div class="text-center">{{ playerDistribution.player.id }}</div>
            <div>O:{{ formatNumber(playerDistribution.opponentCount) }}</div>
            <div>P:{{ formatNumber(playerDistribution.partnerCount) }}</div>
            <div>
              D:{{ formatNumber(playerDistribution.relationshipDistance) }}
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup>
const players = usePlayers();
const debug = useDebugMode();

// 数値を下3桁表示にフォーマットする関数
const formatNumber = (number) => {
  return number.toFixed(2);
};
</script>
