<!-- PlayerModal.vue -->
<template>
  <UModal :model-value="localIsOpen" :transition="false">
    <UCard :class="['border-8 border-solid border-slate-900']">
      <button
        @click="hidePlayerModal"
        :class="[
          'border-red-700 bg-red-600 text-white',
          'rounded-full !border shadow-mario',
          'absolute -left-4 -top-4',
          'aspect-square w-16',
          'grid content-center',
        ]"
      >
        <i class="text-6xl bi bi-x"></i>
      </button>
      <template #header>
        <div class="flex flex-col">
          <button
            type="button"
            :disabled="!formData.group"
            @click="togglePause"
            :class="[
              'rounded-full !border border-slate-900 !p-3 shadow-mario',
              'text-xl font-extrabold',
              'w-full_ grid content-center',
              !formData.pause
                ? 'bg-white text-slate-900'
                : 'bg-slate-900 text-white',
            ]"
          >
            <div
              :class="[
                'animate__animated animate__pulse animate__infinite animate__slow',
              ]"
            >
              <span class="block">
                {{ formData.pause ? "タッチして再開" : "タッチして休憩" }}
              </span>
              <span class="block">
                {{ formData.pause ? "（休憩中です）" : "（試合/待機中です）" }}
              </span>
            </div>
          </button>
        </div>
      </template>
      <form
        ref="myForm"
        @submit.prevent="submitForm"
        :class="['w-full text-5xl']"
      >
        <ul :class="['list-disc space-y-8 text-xl', 'p-0']">
          <li class="flex flex-col">
            <h4 class="mb-2 font-bold">性別選択</h4>
            <div
              :class="[
                'rounded border-2 border-slate-900 bg-slate-100',
                'flex w-full flex-wrap justify-around',
                '!px-2 !py-4 sm:!p-5',
              ]"
            >
              <label
                v-for="(label, key) in genderOptions"
                :key="key"
                :for="`gender-${key}`"
                :class="[
                  'border-1 flex flex-col items-center rounded border-solid border-slate-900 drop-shadow-sm sm:p-3',
                  'relative select-none p-2 ',
                  'w-full max-w-24 sm:aspect-[4/3]',
                  'bg-white',
                  formData.gender === key
                    ? ' outline-dashed outline-4 outline-offset-4 outline-slate-900 sm:outline-8 sm:outline-offset-8'
                    : '',
                ]"
              >
                <input
                  type="radio"
                  :id="`gender-${key}`"
                  :value="key"
                  v-model="formData.gender"
                  class="hidden"
                />
                <div class="place-items-center grid px-2 h-full">
                  <i
                    :class="[`bi bi-gender-${key}`, 'text-4xl opacity-50']"
                  ></i>
                  <div class="font-bold text-base text-nowrap leading-none">
                    {{ label }} / {{ key }}
                  </div>
                </div>
              </label>
            </div>
          </li>
          <li class="flex flex-col">
            <h4 class="mb-2 font-bold">クラス選択</h4>
            <div
              :class="[
                'rounded border-2 border-slate-900 bg-slate-100',
                ' !px-2 !py-4 sm:!p-5',
                'flex w-full flex-wrap justify-around',
              ]"
            >
              <label
                v-for="(label, key) in playerGroups"
                :key="key"
                :for="`group-${key}`"
                :class="[
                  'border-1 flex flex-col items-center rounded border-solid border-slate-900 drop-shadow-sm sm:p-3',
                  'relative p-2',
                  'bg-white',
                  formData.group === key
                    ? ' outline-dashed outline-4 outline-offset-4 outline-slate-900 sm:outline-8 sm:outline-offset-8'
                    : '',
                ]"
              >
                <div
                  :class="[
                    'aspect-square w-full',
                    'mb-2',
                    `bg-${key.toLowerCase()} no-repeat bg-contain`,
                  ]"
                ></div>
                <div class="flex px-2">
                  <input
                    type="radio"
                    :id="`group-${key}`"
                    :value="key"
                    v-model="formData.group"
                    class="flex"
                    :class="['hidden']"
                  />
                  <div
                    class="w-full max-w-[3.8ch] sm:max-w-[4ch] font-bold text-base text-center leading-none"
                  >
                    {{ label }}
                  </div>
                </div>
              </label>
            </div>
          </li>
          <li class="flex flex-col">
            <h4 class="mb-2 font-bold">支払い</h4>
            <div
              :class="[
                'rounded border-2 border-slate-900 bg-slate-100',
                'flex flex-col gap-3',
                '!px-2 !py-4 sm:!p-5',
              ]"
            >
              <div class="payment-method felx grow">
                <label :class="['text-base']" for="payment-method"
                  >方法選択:</label
                >
                <select
                  id="payment-method"
                  v-model="formData.selectedPaymentMethod"
                  :class="[
                    'rounded !border !border-solid border-slate-900 bg-white !py-3 sm:!px-4',
                    'w-full',
                    'text-center text-2xl font-bold',
                  ]"
                >
                  <option value="cashless">キャッシュレス払い</option>
                  <option value="cash">現金払い</option>
                </select>
              </div>
              <div class="payment-amount felx grow">
                <label :class="['text-base']" for="payment-amount"
                  >金額:
                </label>
                <input
                  type="number"
                  id="payment-amount"
                  v-model="formData.paymentAmount"
                  required
                  :class="[
                    'rounded !border !border-solid border-slate-900 !py-3 sm:!px-4',
                    'w-full',
                    'text-center text-2xl font-bold',
                  ]"
                  placeholder="例: 500"
                />
              </div>
              <div
                v-if="sessionId.includes('-PPB-')"
                :class="['flex grow flex-col']"
              >
                <span :class="['text-base']">-PPB- 料金算出表:</span>
                <img
                  src="https://s1.gifyu.com/images/SBrm3.png"
                  alt="ペーペーバドミントン PPB料金算出表.2024 10 15"
                  :class="[
                    'w-full',
                    'rounded !border !border-solid border-slate-900',
                  ]"
                />
              </div>
            </div>
          </li>
          <li class="flex flex-col">
            <h4 class="mb-2 font-bold">表示名</h4>
            <input
              type="text"
              v-model="formData.displayName"
              class="!p-5 border-2 border-slate-900 border-dashed rounded text-3xl text-center"
              placeholder="Optional"
            />
          </li>
          <li class="hidden flex-col">
            <input type="hidden" v-model="formData.hash" />
          </li>
        </ul>
      </form>

      <template #footer>
        <div class="flex flex-col">
          <button
            @click="submitForm"
            :disabled="
              !formData.group || !formData.gender || formData.paymentAmount <= 0
            "
            :class="[
              'rounded-full !border !p-6 shadow-mario',
              'text-2xl font-bold',
              'disabled:cursor-not-allowed',
              ' border-blue-700 bg-blue-600 !text-white',
              'disabled:border-gray-400 disabled:bg-gray-300 disabled:!text-gray-500',
            ]"
          >
            完了
          </button>
        </div>
      </template>
    </UCard>
  </UModal>
</template>

<script setup>
import CryptoJS from "crypto-js";

const { playerModal, showPlayerModal, hidePlayerModal } = usePlayerModal();
const emit = defineEmits(["open", "close", "submit", "update:isOpen"]);
const sessionId = useSessionId();
const masterMode = useMasterMode();
const localIsOpen = ref(false);
const defaultFormData = {
  displayName: "",
  group: null,
  hash: null,
  pause: false,
  gender: null,
  selectedPaymentMethod: "cashless",
  paymentAmount: null,
};
const formData = ref({ ...defaultFormData });

const playerGroups = {
  low: "ピヨピヨ",
  mid: "ペーペー",
  high: "バチボコ",
};
const genderOptions = {
  male: "男",
  female: "女",
};

const updatePlayers = async (playerHash) => {
  const players = usePlayers();

  const playerIndex = players.value.findIndex(
    (player) => player.hash === playerHash,
  );

  if (playerIndex !== -1) {
    Object.keys(formData.value).forEach((key) => {
      if (formData.value[key] !== undefined) {
        players.value[playerIndex][key] = formData.value[key];
      }
    });

    // playersプロパティを更新
    await updateDocument(
      sessionId.value,
      { players: players.value },
      masterMode.value,
    );
  }
};

const updateIsOpen = async (isOpen) => {
  localIsOpen.value = isOpen;
  emit("update:isOpen", isOpen);
};

const submitForm = async () => {
  updateIsOpen(false);

  // Check if the group is empty and return early if so
  if (!formData.value.group) {
    return;
  }

  const pHash = ref(formData.value.hash);

  if (!pHash.value) {
    const randomBytes = CryptoJS.lib.WordArray.random(64);
    // 生成したバイトを16進数文字列に変換
    pHash.value = randomBytes.toString(CryptoJS.enc.Hex);
    formData.value.hash = pHash.value;
    await addToEntryPlayers(sessionId.value, pHash.value);
  }
  await updatePlayerState(pHash.value, formData.value);

  emit("submit", formData.value);
  hidePlayerModal();
};

const setFormData = (data = {}) => {
  if (data === null) {
    formData.value = { ...defaultFormData };
  } else {
    formData.value = { ...formData.value, ...data };
  }
};

defineExpose({
  updateIsOpen,
  setFormData,
});

const playerId = computed(() =>
  getPlayerId(getPlayerHash(), useEntryPlayers().value),
);

const togglePause = () => {
  formData.value.pause = !formData.value.pause;
  updateIsOpen(false);
  if (!formData.value.group) {
    return;
  }
  submitForm();
};
</script>
