<!-- ReservedMatches.vue -->
<template>
  <div>
    <div class="flex justify-end my-4">
      <span>予約する</span><UToggle v-model="isShow" />
    </div>

    <div
      class="gap-16 grid"
      :class="{
        'max-h-0 overflow-hidden': !isShow,
        'max-h-full overflow-scroll': isShow,
      }"
    >
      <div v-if="reservedMatches.length" class="divide-y divide-slate-400">
        <section>
          <h3>予約済みマッチ</h3>
          <p>
            以下の組み合わせはすでに予約されていますが、任意にスタートすることはできません。全プレイヤーの優先度を考慮して後回しでスタートできる状態になります。
          </p>
        </section>
        <div
          v-for="(match, index) in reservedMatches"
          :key="index"
          class="relative gap-2 grid grid-cols-5 odd:bg-slate-100 even:bg-white py-3"
        >
          <div class="col-span-1 px-1">
            <h6 class="bg-dark text-bg-dark badge">予約No.{{ index + 1 }}</h6>
          </div>
          <div class="col-span-4">
            <MoleculesMatchPlayers v-bind:match="match" />
          </div>
        </div>
      </div>

      <div v-if="matches && matches.length" class="divide-y divide-slate-400">
        <section>
          <h3>予約するマッチの選択</h3>
          <p>
            選択されたプレイヤーから生成されたマッチのいずれかを選択してください。パターンは3つしかありません。<b
              >なお、予約されたプレイヤーは自動組み合わせから除外され、ゲームスタートは後回しです。</b
            >
          </p>
        </section>
        <div
          v-for="match in matches"
          :key="match.id"
          class="relative gap-2 grid grid-cols-5 odd:bg-slate-100 even:bg-white py-3 p-1"
        >
          <div class="flex justify-end items-end gap-2 col-span-full text-xl">
            <span class="bg-light text-bg-light badge">
              Match Count: {{ getMatchCount(match, playedMatches) }}
              <span class="visually-hidden">match count</span>
            </span>
            <span class="bg-light text-bg-light badge">
              ID: {{ getMatchHash(match) }}
            </span>
            <button
              @click="reserveMatch(match)"
              class="inline-block border-4 border-white bg-red-600 shadow p-2 border-double rounded text-white stretched-link"
            >
              予約する
            </button>
          </div>
          <div class="col-span-full">
            <MoleculesMatchPlayers v-bind:match="match" />
          </div>
        </div>
      </div>

      <div class="divide-y divide-slate-400">
        <section>
          <h3>プレイヤーの選択</h3>
          <p>
            予約したいプレイヤーを4つ選んでください。一時停止状態のプレイヤーも選択可能です。
          </p>
        </section>
        <ul
          class="gap-1 grid grid-cols-4 p-0 h-auto max-h-[50vh] overflow-y-auto"
        >
          <li
            v-for="player in players"
            :key="player.id"
            class="flex items-center"
          >
            <input
              class="hidden peer"
              type="checkbox"
              :value="player.id"
              v-model="selectedPlayers"
              :disabled="
                isPlayerReserved(player) ||
                (selectedPlayers.length >= 4 &&
                  !selectedPlayers.includes(player.id))
              "
              :id="`checkbox-${player.id}`"
            />
            <label
              :for="`checkbox-${player.id}`"
              class="bg-blue-700 peer-checked:bg-red-600 peer-disabled:bg-cool-200 peer-disabled:opacity-50 p-3 w-full"
            >
              <AtomPlayerPanel
                :playerId="
                  getPlayerId(getPlayerHash(), useEntryPlayers().value)
                "
              ></AtomPlayerPanel>
            </label>
          </li>
        </ul>
      </div>

      <div></div>
    </div>
  </div>
</template>

<script setup>
const isShow = ref(false);
const playedMatches = usePlayedMatches();
const players = usePlayers();
const selectedPlayers = ref([]);
const matches = ref([]);
const reservedMatches = useReservedMatches();

function reserveMatch(match) {
  match.reservedMatch = true;
  reservedMatches.value.push(match);
  selectedPlayers.value = [];
}

function isPlayerReserved(player) {
  return reservedMatches.value.some((match) =>
    match.playerIds.includes(player.id),
  );
}

// selectedPlayers の変更を監視
watch(selectedPlayers, (newValue) => {
  // newValue から最初の4つのプレイヤーIDを取得
  const selectedPlayerIds = newValue.slice(0, 4);

  // selectedPlayerIds を generateMatches に渡してマッチを生成
  matches.value = generateMatches(selectedPlayerIds);
});

// TODO: 利用可能プレイヤーが4人未満(3人以下)のときに、予約機能が不正利用できてしまう
// https://www.awesomescreenshot.com/video/20684792?key=ef3e675f6315085e8f0cfa760e4817a6
</script>
