<!-- UpcomingMatches.vue -->
<template>
  <div class="relative z-10">
    <table class="border-dark w-100 table table-striped">
      <tbody class="relative table-group-divider">
        <template v-for="(match, index) in upcomingMatches" :key="index">
          <tr class="relative">
            <td class="relative px-0 py-3 col-1">
              <div class="d-flex flex-column gap-1">
                <AtomMatchNumber :text="'？'" :match="match" />
                <MoleculesDebugInfoMatch
                  v-bind:match="match"
                  v-bind:playedMatches="playedMatches"
                />
              </div>
            </td>
            <td class="relative -z-10 px-0 py-3 col-9">
              <MoleculesMatchPlayers v-bind:match="match" />
            </td>
            <td class="relative px-0 py-3 col-2">
              <div class="flex justify-center" @click="startMatch(match)">
                <button
                  class="inline-grid content-center bg-blue-600 shadow-mario !border border-blue-700 rounded-full w-10 sm:w-14 text-white aspect-square"
                  :disabled="
                    !isAllPlayersReady(
                      match.playerIds.map((playerId) =>
                        getPlayerById(playerId),
                      ),
                    )
                  "
                >
                  始
                </button>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <div class="flex justify-end my-4">
      <UToggle v-model="fullCalc" /><span>Full Calculator</span>
    </div>
  </div>
</template>

<script setup>
const fullCalc = useFullCalc();
const playedMatches = usePlayedMatches();
const players = usePlayers();
const reservedMatches = useReservedMatches();
const upcomingMatches = useUpcomingMatches();

onMounted(async () => {});

watch(
  [players, reservedMatches, fullCalc],
  () => {
    upcomingMatches.value = getUpcomingMatches(); // 関数内で使用されているリアクティブな状態に基づいて自動的に反応
  },
  { deep: true },
);

watch(
  () => playedMatches.value.map((match) => match.winnerIds),
  (newWinnerIds, oldWinnerIds) => {
    upcomingMatches.value = getUpcomingMatches();
  },
);

watch(
  () => playedMatches.value, // deep watch on the entire array
  (newPlayedMatches, oldPlayedMatches) => {
    updatePlayerMetrics();
  },
  { deep: true },
);

const isAllPlayersReady = (matchPlayers) => {
  const readyPlayers = getReadyPlayers(players.value, playedMatches.value);
  const readyPlayerIds = readyPlayers.map((player) => player.id);

  return matchPlayers.every((player) => readyPlayerIds.includes(player.id));
};
</script>
