<!-- AutoPlay.vue -->
<template>
  <div>
    <h1>Auto Play Settings</h1>
    <form @submit.prevent="startAutoPlay">
      <div>
        <label for="playersNum">プレイヤー数:</label>
        <input
          type="number"
          id="playersNum"
          v-model.number="playersNum"
          min="4"
          required
        />
        <span v-if="playersNum < 4"
          >プレイヤー数は4以上でなければなりません。</span
        >
      </div>
      <div>
        <label for="courtsNum">コート数:</label>
        <input
          type="number"
          id="courtsNum"
          v-model.number="courtsNum"
          min="1"
          required
        />
        <span v-if="courtsNum < 1">コート数は1以上でなければなりません。</span>
      </div>
      <div>
        <label for="maxPlayedMatch">最大試合数:</label>
        <input
          type="number"
          id="maxPlayedMatch"
          v-model.number="maxPlayedMatch"
          placeholder="0"
        />
      </div>
      <button type="submit">オートプレイ実行</button>
    </form>
  </div>
</template>

<script setup>
const courtsNum = ref(1);
const playersNum = ref(4);
const playedMatches = usePlayedMatches();
const maxPlayedMatch = ref(0);
const players = usePlayers();
const upcomingMatches = useUpcomingMatches();
const repeatMatchNum = computed(() =>
  Math.ceil(permutation(playersNum.value, 4) / 8),
);

const startAutoPlay = async () => {
  resetAllData();

  // 最大試合数の計算: maxPlayedMatchが0の場合はrepeatMatchNum.valueを使う
  const maxMatches =
    maxPlayedMatch.value > 0 ? maxPlayedMatch.value : repeatMatchNum.value;

  while (playedMatches.value.length < maxMatches) {
    await new Promise((resolve) => setTimeout(resolve, 500));

    const currentStartedMatches = [];

    for (let i = 0; i < courtsNum.value; i++) {
      if (upcomingMatches.value.length > 0) {
        // await new Promise((resolve) => setTimeout(resolve, 200));
        const startedMatch = startMatch(upcomingMatches.value[0]);
        currentStartedMatches.push(startedMatch);
      } else {
        break;
      }
    }

    for (const match of currentStartedMatches) {
      // await new Promise((resolve) => setTimeout(resolve, 200));
      toggleWinners(getPlayerById(match.playerIds[0]), match);
      updateMatchStatus(match);
    }
  }
};
</script>
