<template>
  <iframe
    :src="src"
    :width="width"
    :height="height"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    class="h-dvh"
  >
    読み込んでいます…
  </iframe>
</template>

<script setup>
defineProps({
  src: {
    type: String,
    default:
      "https://docs.google.com/forms/d/e/1FAIpQLScl7eXjjcM4MiTbhTUYLa0XIDX0J4HKZB3ZAfcVxRfDZQzDGA/viewform?embedded=true",
  },
  width: {
    type: String,
    default: "100%",
  },
  height: {
    type: String,
    default: "100%",
  },
});
</script>

<style scoped>
/* 必要に応じてスタイルを追加 */
</style>
