<!-- footer.vue -->
<template>
  <footer>
    <a
      href="https://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3696990&pid=889527569"
      rel="nofollow"
      ><img
        src="https://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3696990&pid=889527569"
        border="0"
    /></a>
    <p>
      <a href="https://ja.textstudio.com/">フォントジェネレーター</a>
    </p>
  </footer>
</template>

<script setup></script>
