<!-- nav.vue -->
<template>
  <nav
    :class="[
      '!py-1 sm:!py-5',
      'flex h-full w-full items-center sm:flex-col sm:space-y-5',
    ]"
  >
    <div class="relative flex sm:flex-col sm:gap-1">
      <a class="sm:-translate-y-2" href="/" @click.prevent="toggleMasterMode">
        <img
          src="/images/SUPER-DOUBLES-WORLD.png"
          alt="SUPER DOUBLES WORLD"
          class="!my-2 w-auto sm:min-w-24 h-full max-h-16 object-contain scale-150"
        />
      </a>
      <div
        class="bottom-0 left-full sm:left-0 absolute sm:relative flex flex-col items-start space-y-1 sm:space-y-2 sm:mx-auto ml-6 sm:text-wrap text-nowrap"
      >
        <div
          class="sm:top-0 sm:static sm:self-start sm:order-first drop-shadow-lg sm:ml-0 -translate-x-4 -translate-y-4 sm:translate-x-0 sm:translate-y-0"
        >
          <SwitchColorMode />
        </div>
        <span
          v-if="formattedResetTimestamp"
          :class="[
            '!px-3 text-sm font-extrabold leading-snug sm:text-wrap',
            'rounded-full border-2 border-slate-900 bg-slate-200',
            '',
          ]"
        >
          {{ formattedResetTimestamp }}
        </span>
        <span
          :class="[
            '!px-3 text-sm font-extrabold leading-snug',
            'rounded-full border-2 border-slate-900 bg-slate-200',
            '',
          ]"
        >
          {{ masterMode ? "master" : "client" }}
        </span>
        <span
          :class="[
            '!px-3 text-sm font-extrabold leading-snug sm:text-wrap',
            'rounded-full border-2 border-slate-900 bg-slate-200',
            '',
          ]"
        >
          {{ sessionId }}
        </span>
      </div>
    </div>
    <div class="sm:!mt-auto ml-auto">
      <div class="flex sm:items-center mx-2">
        <div class="relative" v-if="masterMode">
          <button
            class="flex-shrink-0 bg-red-600 active:bg-white shadow-big-mario active:shadow-mario !p-3 !px-4 !border border-red-700 rounded-full font-semibold !text-white active:!text-red-600 text-sm select-none"
            type="button"
            v-on-long-press="[() => reset(), { delay: 200 }]"
          >
            NEW / RESET
          </button>
        </div>
        <div v-else></div>
      </div>
    </div>
  </nav>
</template>

<script setup>
import { vOnLongPress } from "@vueuse/components";
const masterMode = useMasterMode();
const playerId = computed(() =>
  getPlayerId(getPlayerHash(), useEntryPlayers().value),
);
const sessionId = useSessionId();

const sessionData = useSessionData();

const formattedResetTimestamp = computed(() => {
  console.log(sessionData.value?.resetTimestamp);
  if (sessionData.value?.resetTimestamp) {
    const date = new Date(sessionData.value.resetTimestamp.seconds * 1000);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, "0");
    const day = String(date.getDate()).padStart(2, "0");
    const hours = String(date.getHours()).padStart(2, "0");
    const minutes = String(date.getMinutes()).padStart(2, "0");
    return `${year}/${month}/${day} ${hours}:${minutes}`;
  }
  return null;
});

const reset = async () => {
  await createHistory();
  await resetAllData();
};

const toggleMasterMode = () => {
  masterMode.value = !masterMode.value;
};
</script>
