<template>
  <div @click="handleClick" :class="['relative']">
    <AtomPlayerPanel :playerId="playerId" />
    <span
      :class="[
        'absolute -top-2 right-1 grid aspect-[4/3] w-6 place-items-center',
        'rounded-sm !border border-dashed text-base',
        'border-current bg-white text-current',
      ]"
    >
      <small class="absolute">{{ getPlayerCount(playerId) }}</small>
    </span>
  </div>
</template>

<script setup>
const props = defineProps({
  playerId: {
    type: Number,
    required: true,
  },
});

const masterMode = useMasterMode();
const playerHash = ref();
const { showPlayerModal } = usePlayerModal();

const handleClick = () => {
  playerHash.value = getPlayerHashById(props.playerId);
  if (masterMode.value && playerHash.value) {
    showPlayerModal(playerHash.value);
  }
};
</script>
