<!-- matchNumber.vue -->
<template>
  <span
    :class="[
      'm-1 inline-flex aspect-square w-10 items-center justify-center rounded-sm !text-2xl font-extrabold drop-shadow sm:w-14',
      !match.reservedMatch
        ? 'border-4 border-dotted'
        : 'border-8 border-double',
      match.finished
        ? ' border-yellow-800 bg-yellow-400 text-white'
        : 'border-black bg-yellow-800 text-white',
    ]"
  >
    {{ text }}
  </span>
</template>

<script setup>
const props = defineProps({
  text: String,
  match: Object,
});
</script>
