<!-- player.vue -->
<template>
  <label
    @click="handleClick"
    :class="[
      'w-full select-none',
      'relative grid aspect-square place-items-center content-center text-nowrap !rounded-md !border-2 border-slate-900 !p-1 text-center font-bold leading-relaxed shadow-sm',
      'animate__animated animate__tada',
      !player?.pause ? 'bg-white text-slate-900' : 'bg-slate-900 text-white',
    ]"
    style="--bs-btn-border-width: 2px"
    :data-id="player.id"
  >
    {{ player.id }}

    <div class="top-0 left-0 absolute flex items-start sm:p-1">
      <small class="text-xs">{{ playerDisplayName }}</small>
    </div>

    <div v-if="isShows.Count" class="-bottom-2 -left-2 absolute">
      <span
        :class="[
          'relative grid aspect-square w-6 place-items-center',
          'rounded-full !border-2 text-base',
          ' border-slate-900 bg-white  text-slate-900',
        ]"
      >
        <small class="absolute">{{ getPlayerCount(player.id) }}</small>
      </span>
    </div>

    <div
      v-if="isShows.PauseIcon && player.pause"
      class="-top-2 -right-2 absolute"
    >
      <span
        :class="[
          'relative grid aspect-square w-6 place-items-center',
          'rounded-full !border-2 text-base',
          ' border-slate-900 bg-white  text-slate-900',
        ]"
      >
        <i class="absolute bi-dash-circle text-2xl leading-none bi"> </i>
      </span>
    </div>
  </label>
</template>

<script setup>
const masterMode = useMasterMode();
const {
  player,
  isShows = { UnderEighteen: true, Count: true, PauseIcon: true },
} = defineProps({
  player: Object,
  isShows: {
    type: Object,
    default: () => ({
      UnderEighteen: true,
      Count: true,
      PauseIcon: true,
    }),
  },
});
const playerHash = getPlayerHashById(player.id);
const playersState = usePlayersState();
const { showPlayerModal } = usePlayerModal();
const handleClick = () => {
  if (masterMode.value && playerHash) {
    showPlayerModal(playerHash);
  }
};
const playerDisplayName = computed(() => {
  if (playerHash && playersState.value && playersState.value[playerHash]) {
    return playersState.value[playerHash].displayName || "ゲスト";
  }
  return "ゲスト";
});
</script>
