<!-- playerPanel.vue -->
<template>
  <div
    :class="[
      'relative grid h-full place-items-center',
      'rounded-md !border border-slate-900',
      'leading-normal tracking-tighter',
      !player?.pause ? 'bg-white text-slate-900' : 'bg-slate-900 text-white',
    ]"
  >
    <span
      :class="[
        'absolute -left-1 -top-4 drop-shadow-sm',
        'h-8 w-8 rounded-full bg-white bg-[75%_auto] bg-center bg-no-repeat',
        '!border border-dashed border-slate-900',
        `bg-${player?.group}`,
      ]"
    ></span>
    <span
      class="bottom-0 absolute inset-x-[1.75px] text-xs sm:text-sm text-right text-nowrap"
    >
      {{ playerDisplayName }}
    </span>
    <span :class="['relative -mt-1 sm:-mt-2', '!text-4xl italic sm:!text-5xl']">
      {{ playerId }}
    </span>
  </div>
</template>

<script setup>
const props = defineProps({
  playerId: Number,
});

const entryPlayers = useEntryPlayers();
const players = usePlayers();
const playersState = usePlayersState();
const emit = defineEmits(["loadComplete"]);

const playerHash = computed(() => entryPlayers.value[props.playerId - 1] ?? "");

// playersState から displayName を取得
const playerDisplayName = computed(() => {
  const hash = playerHash.value;
  if (hash && playersState.value && playersState.value[hash]) {
    return playersState.value[hash].displayName || "ゲスト";
  }
  return "ゲスト";
});

// プレイヤーオブジェクトを返すcomputedプロパティ
const player = computed(() => {
  const hash = playerHash.value;
  if (!hash) {
    return { displayName: "", group: "" };
  }

  const foundPlayer = players.value.find((p) => p.hash === hash);
  if (foundPlayer) {
    emit("loadComplete");
    return foundPlayer;
  }
});
</script>
