<!-- index.vue -->
<template>
  <div class="sm:flex">
    <header
      :class="[
        'sticky top-0 z-20 sm:static',
        ' bg-yellow-300 !p-2 drop-shadow-sm sm:p-3',
      ]"
    >
      <OrganismNav
        :class="[
          'relative rounded border-8 border-yellow-500 bg-white sm:h-full sm:w-28',
        ]"
      />
    </header>
    <main
      :class="[
        'h-full w-full bg-yellow-300 sm:h-dvh sm:border-yellow-500',
        '!-mt-3 !p-3 sm:!mt-0 sm:-ml-3 sm:overflow-auto',
        'flex flex-col gap-3 sm:flex-row',
      ]"
    >
      <div
        class="relative bg-white/95 !border-8 border-red-700 rounded w-full sm:min-w-[420px] h-full min-h-60 overflow-auto"
      >
        <Players />
      </div>
      <div
        class="relative bg-white/95 !border-8 border-blue-700 rounded w-full sm:min-w-[420px] h-full min-h-60 overflow-auto"
      >
        <PlayedMatches />
        <UpcomingMatches />
      </div>
      <div
        class="relative bg-white/95 !border-8 border-slate-900 rounded w-full sm:min-w-[420px] h-full min-h-60 overflow-auto"
      >
        <OrganismContact />
        <OrganismFooter />
      </div>
      <div
        class="relative bg-white/95 !border-8 border-slate-900 rounded w-full sm:min-w-[420px] h-full min-h-60 overflow-auto"
      >
        <OrganismAutoPlay />
        <PlayersXTable />
      </div>
    </main>
  </div>
</template>

<script setup>
const masterMode = useMasterMode();
const route = useRoute();
const sessionData = useSessionData();
const sessionId = useSessionId();
const sessionMeta = useSessionMeta();
const colorMode = useColorMode();
const players = usePlayers();

onUnmounted(() => {
  clearSubscription();
});

watch(
  [route],
  async ([newRoute]) => {
    if (newRoute?.query?.sessionId !== undefined) {
      sessionId.value = newRoute.query.sessionId;
    }
    if (
      newRoute?.query?.masterMode !== undefined &&
      newRoute.query.masterMode === "true"
    ) {
      masterMode.value = true;
    }
  },
  { deep: true, immediate: true },
);

watch(
  () => masterMode,
  async (newMasterMode) => {
    const isSessionDoc = await getSessionData(sessionId.value);
    if (isSessionDoc) {
      await setupSubscription(sessionId.value);
    }
  },
  { immediate: true },
);

watch(
  () => sessionData.value?.entryPlayers,
  async (newEntryPlayers, oldEntryPlayers) => {
    if (masterMode.value) {
      if (sessionData.value && Array.isArray(newEntryPlayers)) {
        // players.value が配列として初期化されていない場合は初期化
        if (!Array.isArray(players.value)) {
          console.log("players is not an array; initializing as empty array.");
          players.value = [];
        }
        newEntryPlayers.forEach((entryHash, index) => {
          console.log("entryHash", entryHash, index);
          // エントリが falsy な場合は処理しない
          if (!entryHash) return;

          // sessionData から対応する playerState を取得
          const playerState = sessionData.value.playersState[entryHash];
          if (!playerState) return;

          // 既に同じ hash を持つプレイヤーが存在するかチェック
          const existingIndex = players.value.findIndex(
            (player) => player.hash === entryHash,
          );

          if (existingIndex !== -1) {
            // 既存プレイヤーがある場合は、playerState の内容でマージ（同じ属性は entryPlayers の値で上書き）
            players.value[existingIndex] = {
              ...players.value[existingIndex],
              ...playerState,
            };
          } else {
            // 一致するプレイヤーがなければ、新規プレイヤーとして作成し push
            const newPlayer = {
              id: index + 1,
              hash: entryHash,
              pause: false,
              metrics: {
                playerId: index + 1,
                playCount: 0,
                latestPlayTime: getTimestampFromDate(),
                opponents: {},
                pairs: {},
                distances: {},
              },
              ...playerState,
            };
            players.value.push(newPlayer);
          }
        });
      }
      if (newEntryPlayers.length > 0) {
        await updateDocument(
          sessionId.value,
          { players: players.value },
          masterMode.value,
        );
      }
    } else {
      await setPlayerIdFromProfileHash();
    }

    // useEntryPlayers の更新
    useEntryPlayers().value = newEntryPlayers;
  },
  { deep: true },
);

watch(
  () => sessionData.value?.players,
  async (newPlayers, oldPlayers) => {
    usePlayers().value = newPlayers;
  },
  { deep: true },
);

watch(
  () => sessionData.value?.playedMatches,
  (newPlayedMatches, oldPlayedMatches) => {
    usePlayedMatches().value = newPlayedMatches;
  },
  { deep: true },
);

watch(
  () => sessionData.value?.reservedMatches,
  (newReservedMatches, oldReservedMatches) => {
    useReservedMatches().value = newReservedMatches;
  },
  { deep: true },
);

watch(
  () => sessionData.value?.playersState,
  (newPlayersState, oldPlayersState) => {
    usePlayersState().value = newPlayersState;
  },
  { deep: true },
);

// コンポーネントがマウントされたときにplayerIdを設定
onMounted(async () => {
  await setPlayerIdFromProfileHash();
  colorMode.preference = "light";

  // URLのクエリパラメータからsessionIdを取得して設定
  const newRoute = route.value;
  if (newRoute?.query?.sessionId !== undefined) {
    sessionId.value = newRoute.query.sessionId;
  }
});
</script>
