<template>
  <div v-if="!isHomePage" class="position-absolute top-100 start-0 z-10">
    <small>
      {{ getMatchCount(match, playedMatches) }}
      <span class="visually-hidden">match count</span>
    </small>
    <small>
      {{ getMatchHash(match) }}
    </small>
    <small>
      {{ totalLastUpdatedTime }}
    </small>
  </div>
</template>

<script setup>
const { isHomePage } = usePath();
const { match, playedMatches } = defineProps({
  match: Object,
  playedMatches: Array,
});

const totalLastUpdatedTime = computed(() => {
  const pairResults = getMatchPairs(match);
  if (!pairResults || pairResults.length === 0) {
    // pairL と pairR が存在しない場合
    return null;
  }

  return pairResults.reduce((sum, pair) => {
    const lastUpdatedTime = getPairLastUpdatedTime(pair, playedMatches);
    return sum + lastUpdatedTime;
  }, 0);
});
</script>
