<!-- molecules/MatchPlayers.vue -->
<template>
  <div class="flex gap-1 md:gap-2 !px-2 text-center">
    <button
      v-for="playerId in props.match.playerIds"
      :key="playerId"
      @click="handleMatchUpdate(getPlayerById(playerId))"
      :class="[
        'relative aspect-[3/4] w-full rounded-lg bg-white',
        {
          'font-extrabold outline outline-8 outline-green-600/90': isWinner(
            getPlayerById(playerId),
            props.match,
          ),
          'font-semibold': !isWinner(getPlayerById(playerId), props.match),
        },
      ]"
    >
      <AtomPlayerPanel :playerId="playerId"></AtomPlayerPanel>
    </button>
  </div>
</template>

<script setup>
const props = defineProps({
  match: {
    type: Object,
    required: true,
  },
});

const sortedMatch = computed(() => {
  const [pairL, pairR] = getMatchPairs(props.match);
  const sortedPairL = pairL.sort((a, b) => a.id - b.id);
  const sortedPairR = pairR.sort((a, b) => a.id - b.id);
  const sortedPlayerIds = [...sortedPairL, ...sortedPairR].map(
    (player) => player.id,
  );

  return {
    ...props.match,
    playerIds: sortedPlayerIds,
    pairL: sortedPairL,
    pairR: sortedPairR,
  };
});

function handleMatchUpdate(player) {
  const currentDate = getTimestampFromDate();
  props.match.lastUpdated = currentDate;

  toggleWinners(player, props.match);
  updateMatchStatus(props.match);
  updatePlayedMatches(usePlayedMatches().value);
}

function isWinner(player, match) {
  // Check if player is not null
  if (!player) {
    return false;
  }
  // player.id が match.winnerIds のプレイヤーIDに含まれるかどうかを判定
  if (match.winnerIds) {
    return match.winnerIds.includes(player.id);
  }
  return false;
}
</script>
