<!-- app.vue -->
<template>
  <div :class="{ grayscale: isLoading }">
    <NuxtLayout>
      <NuxtPage />
      <PlayerModal ref="playerModal" />
    </NuxtLayout>
    <div v-if="isLoading" class="loader-overlay">
      <h1 class="font-bold text-slate-900 loader">Loading...</h1>
    </div>
  </div>
</template>

<script setup>
const { playerModal, showPlayerModal, hidePlayerModal } = usePlayerModal();

// ページ情報を計算
const pages = computed(() =>
  useRouter().options.routes.map((route) => ({
    route: route.path,
    title: route.name || "Home", // 適切なページタイトルを取得
  })),
);

const isLoading = ref(true);

onMounted(() => {
  isLoading.value = false;
});
</script>

<style scoped>
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  animation: fadeInOut 2s infinite; /* アニメーションを追加 */
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
</style>
